# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# VS
.vs/
.idea/
.vscode/
*.user

# Test results
TestResults/
[Tt]est[Rr]esult*/

# OS
Thumbs.db
.DS_Store